dialog {
  width: 80%;
  height: 80vh;
  flex-flow: column;
  padding: 0;
  border: none;
  background-color: transparent;
  overflow: visible;
  & > div {
    flex-grow: 1;
  }
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
  flex-grow: 0;

  & button {
    border-radius: 100%;
    transform: translateY(50%) translateX(50%);
    background-color: var(--secondary-color);
    color: var(--main-color);
    transition: var(--main-transition);
    &:hover {
      background-color: var(--main-color);
      color: var(--secondary-color);
    }
  }
}

iframe {
  height: 100%;
  width: 100%;
}
