#listen {
  color: var(--secondary-text-color);
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.listen-button {
  width: 30rem;
  max-width: 90%;
  padding: 0;
  overflow: hidden;
  margin: 2rem;
  position: relative;
  color: var(--main-color);
  & img {
    width: 100%;
  }
  & .info-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: var(--main-transition);
  }
  &:hover .info-layer {
    opacity: 1;
  }
}

.reel-buton {
  width: 200px;
  flex: 0 0 50%;
}

dialog {
  flex-flow: column;
  padding: 0;
  border: none;
  background-color: transparent;
  overflow: visible;
}

.dialog-content {
  height: 60rem;
  width: 100rem;
  max-height: 80vh;
  max-width: 80vw;
  display: flex;
  flex-flow: column;
  & > div {
    flex-grow: 1;
  }
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
  flex-grow: 0;

  & button {
    border-radius: 100%;
    transform: translateY(50%) translateX(50%);
    background-color: var(--secondary-color);
    color: var(--main-color);
    transition: var(--main-transition);
    &:hover {
      background-color: var(--main-color);
      color: var(--secondary-color);
    }
  }
}

iframe {
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
 #listen {
    padding-top: 0;
  }
}