#us {
  background-image: url(/img/torn-paper.webp);
  color: var(--secondary-color);
  filter: drop-shadow(13px -7px 4px black);
  padding-bottom: 12rem;
  background-size: cover;
  background-position: right;
  padding-top: 10rem;

}
.bottom-bio-line {
  text-align: right;
  h3 {
    margin: 0;
    font-size: 2.5rem;
  }
}

.polaroid {
  max-width: 30%;
  padding: 1rem 1rem 5rem;
  margin-left: 4rem;
  transform: rotate(10deg);
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 1rem black;
  width: 75vw;
  margin-bottom: 2rem;
  & img {
    width: 100%;
  }

  &.left {
    margin-left: 0;
    margin-right: 4rem;
    transform: rotate(-10deg);
  }

  & article {
    filter: drop-shadow(1px 1px 0.5px white);
  }
}

.photos {
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo {
  width: 15rem;
  height: 20rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  margin: 0.5rem 0.5rem; /* TODO: Pasar a variable */
  padding: 0.5rem; /* TODO: Pasar a variable */
  overflow: hidden;
  max-width: 20vw;
  
  & > div {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    filter: sepia(100%) contrast(2);
    transition: var(--main-transition);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    cursor: pointer;
    &:hover {
      filter: sepia(0%) contrast(1.3);
      transform: scale(120%);
      padding-bottom: 2rem;
    }
  }

  & p {
    color: var(--main-color);
    margin: 0;
    filter: drop-shadow(0 0 0.1rem black);
    line-height: 1;
  }

  & .photo-name {
    font-family: 'Rubik Dirt', system-ui;
    font-size: 2rem;
  }

  &.vir > div {
    background-image: url(/img/vir.webp);
    &:hover {
      background-image: url(/img/vir_hov.webp);
    }
  }
  &.salva > div {
    background-image: url(/img/salva.webp);
    &:hover {
      background-image: url(/img/salva_hov.webp);
    }
  }
  &.antonio > div {
    background-image: url(/img/antonio.webp);
    &:hover {
      background-image: url(/img/antonio_hov.webp);
    }
  }
  &.lobo > div {
    background-image: url(/img/lobo.webp);
    &:hover {
      background-image: url(/img/lobo_hov.webp);
    }
  }
}

@media (max-width: 1200px) {
    #us {
    padding-bottom: 15rem;
    & .content {
      flex-flow: wrap-reverse;
      justify-content: center;
      padding-bottom: 5rem;
    }
  }
  .polaroid {
    max-width: min(90%, 30rem);
    margin: 1rem 0;
    &.left {
      margin-right: 0;
    }
  }
  .photo {
    max-width: 40vw;
    height: 20rem;
  }
}
