#contact {
  background-image: url(/img/brick-wall.webp);
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 -10px 10px 10px black;

  & h2 {
    filter: drop-shadow(0.5rem 0.3rem 4px black);
    margin-bottom: 3rem;
  }

  & .contact-card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 3rem;
    max-width: 90%;
  }
}

.email-img {
  max-width: 90%;
}

.contact-form {
  display: grid;
  width: 40rem;
  max-width: 90%;
  grid-template-columns: min-content auto;
  column-gap: 0.5rem;
  row-gap: 1rem;
  & label {
    display: contents;
  }

  & span {
    padding: 1rem 0;
    text-align: right;
  }

  & input,
  textarea {
    border: none;
    padding: 1rem;
    border-radius: 0.2rem;
  }

  & textarea {
    height: 8rem;
  }

  & button {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
  }
}
