#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
}

section {
  margin-top: -6rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 12rem;

  & hr {
    width: 80%;
  }
}

.main-content {
  max-width: 100rem;
  padding: 4rem;
  font-size: 1.5rem;
  text-align: left;
}

.content {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .content {
    flex-wrap: wrap;
  }
  .main-content {
    padding: 1rem;
  }
}
