@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Dirt&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-padding: 1rem;

  --main-color: rgb(235, 235, 235);
  --secondary-color: rgb(28, 28, 28);

  --secondary-text-color: #1B1B1B;
  
  --main-glow-color: #FFD85E;
  --secondary-glow-color: #7B3EFF;

  --main-bg-color: #F5F5F5;
  --secondary-bg-color: #1B1B1B;

  --main-transition: 0.2s;

  --breakpoint-desktop-screen: 1200px;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Audiowide', sans-serif;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
  transition: padding-bottom var(--main-transition) ease;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--main-color);
    transition:
      width var(--main-transition) ease,
      left var(--main-transition) ease;
  }
  &:hover::before,
  &.active::before {
    width: 100%;
    left: 0;
  }

  &.active::before {
    height: 2px;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




@media (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
